/* ======== RESET STYLES ======== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */
/* GLOBAL */
/*font-family: 'Roboto', sans-serif;*/

body {
	background-color: lightgrey;
	font-family: 'Roboto', sans-serif;
/*	height: 100%;*/
}
a {
	text-decoration: none;
}
.content {
	width: 65%;
	margin: 0 auto;
}
/* NAV & HEADER */
nav {
	/*background-color: #2980b9;*/ /*Origianl color*/
	background-color: #595053;
	height: 3.5rem;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #eaebec;
}
nav .content {
	padding: 1rem 1rem 0 1rem;
}
nav .logo {
	font-family: 'Montez', cursive;
	color: #fff;
	font-size: 1.5rem;
}
.social-links {
	float: right;
}
.social-links > li {
	display: inline-block;
	padding-left: 1rem;
}
.social-links i {
	color: #fff;
	font-size: 1.3rem;
	text-align: center;
}
.social-links i:hover {
	color: #A58449;
}
.masthead {
	background-image: url('../img/sunny_1.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 42rem;
	width: 100%;
	overflow: auto;
}
.masthead h1 {
	text-align: center;
	padding-top: 25%;
	color: #fff;
	font-size: 1rem;
}
.work-images li {
	display: inline-block;
}




footer {
	background-color: #A58449;
	height: 7rem;
	text-align: center;
}



